/* .slick-slide {
  margin: 0 10px;
} */
/* the parent 
.slick-list {
  margin: 0 -10px;
}

.slick-list {
  margin: 0 -10px;
} */
.slick-arrow.slick-prev {
  left: 0px;
}

.slick-arrow.slick-next {
  right: 0px;
}

.slick-slide {
  transform: scale(0.85);
  transition: all linear 0.6s;
  position: relative;
}

.slick-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
}

.slick-slide.slick-active.slick-current {
  transform: scale(1.2);
}
.slick-slide.slick-active.slick-current .overlay {
  opacity: 0;
}
/* .slick-slide.slick-active {
  transform: scale(1.2);
} */

.slick-track {
  display: flex;
  padding-top: 20px;
  padding-bottom: 15px;
}
.slick-arrow.slick-next {
  right: 20px;

  z-index: 10000;
}
.slick-arrow.slick-prev {
  z-index: 10000;
}
.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 40px;

  z-index: 10000;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
